body{
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
}
.flex-area{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    width: 350px;
    height: 460px;
    background-color: aquamarine;
    border-radius: 20px;
    box-shadow: 10px 15px 10px gray;
}
.heading-area{
    height: 60px;
    margin: 10px 10px 0px;
    border-radius: 20px 20px 0 0;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-area{
    height: 380px;
    margin:0px 10px 10px 10px;
    border-radius: 0 0 20px 20px;
    background-color: mediumorchid;
}
.input{
    font-size: 20px;
    font-weight: bold;
}